.card {
    border: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 6px;
    color: #333333;
    background: #fff;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #eeeeee;
    border-radius: 0.25rem;
}

.card [class*="card-header-"] .card-icon, .card [class*="card-header-"] .card-text {
    border-radius: 3px;
    background-color: #999999;
    padding: 15px;
    margin-top: -20px;
    margin-right: 15px;
    float: left;
}

.card .card-header-warning .card-icon, .card .card-header-warning:not(.card-header-icon):not(.card-header-text), .card .card-header-warning .card-text {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
}

.card .card-header-warning .card-icon, .card .card-header-warning .card-text, .card .card-header-warning:not(.card-header-icon):not(.card-header-text), .card.bg-warning, .card.card-rotate.bg-warning .front, .card.card-rotate.bg-warning .back {
    background: linear-gradient(60deg, #ffa726, #fb8c00);
}





.card-stats .card-header.card-header-icon .card-title, .card-stats .card-header.card-header-text .card-title, .card-stats .card-header.card-header-icon .card-category, .card-stats .card-header.card-header-text .card-category {
    margin: 0;
}

.card .card-header.card-header-icon .card-title, .card .card-header.card-header-text .card-title {
    margin-top: 15px;
    color: #3C4858;
}

.card .card-header .card-title {
    margin-bottom: 3px;
    padding: 2%;
}

p.card-category{
    padding-left: 2%;
}

/* .card .card-stats {
    background: transparent;
    display: flex;
  }
  
  .card .card-stats .author,
  .card .card-stats .stats {
    display: inline-flex;
  } */

  .card-title {
    margin-bottom: 0.75rem;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
  }
  
  .card-title {
    margin-bottom: 0.75rem;
  }
  
  .card-subtitle {
    margin-top: -0.375rem;
    margin-bottom: 0;
  }
  
  .card-text:last-child {
    margin-bottom: 0;
  }
  
  .card-link:hover {
    text-decoration: none;
  }
  
  .card-link+.card-link {
    margin-left: 1.25rem;
  }
  
  .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid #eeeeee;
  }
  

.title, .title a, .card-title, .card-title a, .info-title, .info-title a, .footer-brand, .footer-brand a, .footer-big h5, .footer-big h5 a, .footer-big h4, .footer-big h4 a, .media .media-heading, .media .media-heading a {
    /* color: #3C4858; */
    text-decoration: none;
}

.card [class*="card-header-"], .card[class*="bg-"] {
    color: #fff;
    
}

.card-header-warning{
    border-radius: 5px;
}





.card .card-header {
    border-bottom: none;
    background: transparent;
    
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header-tabs {
    margin-right: -0.625rem;
    margin-bottom: -0.75rem;
    margin-left: -0.625rem;
    border-bottom: 0;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid #eeeeee;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid #eeeeee;
  }
  
  .card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  }
  
  .card-header+.list-group .list-group-item:first-child {
    border-top: 0;
  }
  
  .card-footer {
    padding: 0.75rem 1.25rem;
    background-color: #fff;
    border-top: 1px solid #eeeeee;
  }
  
  .card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
  }
  
  .card-header-tabs {
    margin-right: -0.625rem;
    margin-bottom: -0.75rem;
    margin-left: -0.625rem;
    border-bottom: 0;
  }

  .card-header-tabs {
    margin-right: -0.625rem;
    margin-bottom: -0.75rem;
    margin-left: -0.625rem;
    border-bottom: 0;
  }

  .card .card-header.card-header-tabs .nav-tabs {
    background: transparent;
    padding: 0;
  }

  .card .card-header.card-header-tabs .nav-tabs-title {
    float: left;
    padding: 10px 10px 10px 0;
    line-height: 24px;
  }

  .nav-tabs {
    border-bottom: 1px solid #dee2e6;
  }

  .card .card-header-primary .card-icon,
.card .card-header-primary .card-text,
.card .card-header-primary:not(.card-header-icon):not(.card-header-text),
.card.bg-primary,
.card.card-rotate.bg-primary .front,
.card.card-rotate.bg-primary .back {
  background: linear-gradient(60deg, #ab47bc, #8e24aa);
}

.card .card-header-primary .card-icon,
.card .card-header-primary:not(.card-header-icon):not(.card-header-text),
.card .card-header-primary .card-text {
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
}

.card .card-header {
    border-bottom: none;
    background: transparent;
  }
  
  .card .card-header .title {
    color: #fff;
  }
  
  .card .card-header .nav-tabs {
    padding: 0;
  }
  
  .card .card-header.card-header-image {
    position: relative;
    padding: 0;
    z-index: 1;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
  }
  
  .card .card-header.card-header-image img {
    width: 100%;
    border-radius: 6px;
    pointer-events: none;
    box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }
  
  .card .card-header.card-header-image .card-title {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #fff;
    font-size: 1.125rem;
    text-shadow: 0 2px 5px rgba(33, 33, 33, 0.5);
  }
  
  .card .card-header.card-header-image .colored-shadow {
    transform: scale(0.94);
    top: 12px;
    filter: blur(12px);
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    transition: opacity .45s;
    opacity: 0;
  }
  
  .card .card-header.card-header-image.no-shadow {
    box-shadow: none;
  }
  
  .card .card-header.card-header-image.no-shadow.shadow-normal {
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }
  
  .card .card-header.card-header-image.no-shadow .colored-shadow {
    display: none !important;
  }

  h4, .h4 {
    font-size: 1.125rem;
    line-height: 1.4em;
    font-weight: 300;
}
  
  .card .card-header-primary .card-icon,
  .card .card-header-primary .card-text,
  .card .card-header-primary:not(.card-header-icon):not(.card-header-text),
  .card.bg-primary,
  .card.card-rotate.bg-primary .front,
  .card.card-rotate.bg-primary .back {
    background: linear-gradient(60deg, #ab47bc, #8e24aa);
  }
  
  .card .card-header-info .card-icon,
  .card .card-header-info .card-text,
  .card .card-header-info:not(.card-header-icon):not(.card-header-text),
  .card.bg-info,
  .card.card-rotate.bg-info .front,
  .card.card-rotate.bg-info .back {
    background: linear-gradient(60deg, #26c6da, #00acc1);
  }
  
  .card .card-header-success .card-icon,
  .card .card-header-success .card-text,
  .card .card-header-success:not(.card-header-icon):not(.card-header-text),
  .card.bg-success,
  .card.card-rotate.bg-success .front,
  .card.card-rotate.bg-success .back {
    background: linear-gradient(60deg, #66bb6a, #43a047);
  }
  
  .card .card-header-warning .card-icon,
  .card .card-header-warning .card-text,
  .card .card-header-warning:not(.card-header-icon):not(.card-header-text),
  .card.bg-warning,
  .card.card-rotate.bg-warning .front,
  .card.card-rotate.bg-warning .back {
    background: linear-gradient(60deg, #360420, #360420);
  }
  
  .card .card-header-danger .card-icon,
  .card .card-header-danger .card-text,
  .card .card-header-danger:not(.card-header-icon):not(.card-header-text),
  .card.bg-danger,
  .card.card-rotate.bg-danger .front,
  .card.card-rotate.bg-danger .back {
    background: linear-gradient(60deg, #ef5350, #e53935);
  }
  
  .card .card-header-rose .card-icon,
  .card .card-header-rose .card-text,
  .card .card-header-rose:not(.card-header-icon):not(.card-header-text),
  .card.bg-rose,
  .card.card-rotate.bg-rose .front,
  .card.card-rotate.bg-rose .back {
    background: linear-gradient(60deg, #ec407a, #d81b60);
  }
  
  .card .card-header-primary .card-icon,
  .card .card-header-primary:not(.card-header-icon):not(.card-header-text),
  .card .card-header-primary .card-text {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
  }
  
  .card .card-header-danger .card-icon,
  .card .card-header-danger:not(.card-header-icon):not(.card-header-text),
  .card .card-header-danger .card-text {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4);
  }
  
  .card .card-header-rose .card-icon,
  .card .card-header-rose:not(.card-header-icon):not(.card-header-text),
  .card .card-header-rose .card-text {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
  }
  
  .card .card-header-warning .card-icon,
  .card .card-header-warning:not(.card-header-icon):not(.card-header-text),
  .card .card-header-warning .card-text {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
  }
  
  .card .card-header-info .card-icon,
  .card .card-header-info:not(.card-header-icon):not(.card-header-text),
  .card .card-header-info .card-text {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
  }
  
  .card .card-header-success .card-icon,
  .card .card-header-success:not(.card-header-icon):not(.card-header-text),
  .card .card-header-success .card-text {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
  }

  .card .card-header.card-header-tabs .nav-tabs-title {
    float: left;
    padding: 10px 10px 10px 0;
    line-height: 24px;
  }

  .card [class*="card-header-"] {
    margin: 0px 15px 0;
    padding: 0;
    position: relative;
    border-radius: 5px;
}



  .navbar .navbar-nav .nav-item .nav-link.profile-photo .ripple-container {
    border-radius: 50%;
  }
  .box-redux{
      font-size: small;
  }








